name: Init AWS environment

on:
  workflow_dispatch:
    inputs:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ECR: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com"

jobs:

  init:
    runs-on: ubuntu-latest
    steps:

    - name: Create s3 state bucket
      run: |
          aws s3api create-bucket --bucket $AWS_ACCOUNT_ID-terraform-state --create-bucket-configuration LocationConstraint=$AWS_DEFAULT_REGION
    - name: Create api ECR
      run: |
          aws ecr create-repository --repository-name api
    - name: Create woreker ECR
      run: |
          aws ecr create-repository --repository-name worker
    - name: Create orchestrator ECR
      run: |
          aws ecr create-repository --repository-name orchestrator

  build-api:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build Docker image
      shell: bash
      working-directory: api
      run: |
        pass=`aws ecr get-login-password`
        docker login --username AWS --password $pass $AWS_ECR
        docker build . --file Dockerfile --tag $AWS_ECR/api:latest
        docker push $AWS_ECR/api:latest
    needs: init
  
  build-worker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build Docker image
      shell: bash
      working-directory: worker
      run: |
        pass=`aws ecr get-login-password`
        docker login --username AWS --password $pass $AWS_ECR
        docker build . --file Dockerfile --tag $AWS_ECR/worker:latest
        docker push $AWS_ECR/worker:latest
    needs: init

  build-orchestrator:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build Docker image
      shell: bash
      working-directory: orchestrator
      run: |
        pass=`aws ecr get-login-password`
        docker login --username AWS --password $pass $AWS_ECR
        docker build . --file Dockerfile --tag $AWS_ECR/api:orchestrator
        docker push $AWS_ECR/api:latest
    needs: init

  create-aws-resources:
    name: Create AWS resources
    runs-on: ubuntu-latest
    container: hashicorp/terraform:light
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    - name: Create resources
      working-directory: infrastructure
      run: |
          terraform init -backend-config="bucket=$AWS_ACCOUNT_ID-terraform-state"
          terraform validate
          terraform apply -auto-approve
    needs: [build-api, build-worker, build-orchestrator]