name: Init AWS environment

on:
  workflow_dispatch:
    inputs:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ECR: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com"

jobs:

  init:
    name: Initialize AWS enviromnent
    runs-on: ubuntu-latest
    steps:

    - name: Create resources
      run: |
          aws s3api create-bucket --bucket $AWS_ACCOUNT_ID-terraform-state --create-bucket-configuration LocationConstraint=$AWS_DEFAULT_REGION
          aws ecr create-repository --repository-name api
          aws ecr create-repository --repository-name worker
          aws ecr create-repository --repository-name orchestrator

  build-api:
    uses: ./.github/workflows/build-api.yml
    needs: init
  
  build-worker:
    uses: ./.github/workflows/build-worker.yml
    needs: init

  build-orchestrator:
    uses: ./.github/workflows/build-orchestrator.yml
    needs: init